@page
@model IndexModel
@{
    ViewData["Title"] = "StudentHome";
}
<div class="row" style="margin-top: 150px;">
    <div class="col-md-8 col-md-offset-2">
        <input id="load"
               type="text"
               placeholder="Introduce dirección de fichero xls"
               class="form-control input-search"
               aria-label="Xls">
    </div>

</div>
<div class="row" style="margin-top: 40px; margin-bottom:100px">
    <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 text-center">
        <button class="btn btn-success Button_Load" onclick="loadFile()"><i class="glyphicon glyphicon-upload" style="font-size:30px; margin-left:20px; margin-right:20px"></i></button>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        putCachedPath();
        function putCachedPath() {
            var path = localStorage.getItem("path");
            if (path !== undefined || path.length > 0) {
                $('#load').val(path);
            }            
        }
        function loadFile() {
            var path = $('#load').val();
            if (path_is_valid(path)) {
                localStorage.setItem('path', path);
            } else {
                alert("Introdúzca un path válido");
            }            
        }

        function path_is_valid(path) {
            if (path === undefined || path.length === 0) {
                return false;
            }
            return true;
        }
    </script>
    
}