/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav > li {
    cursor: pointer !important;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.Fondo {
    /*background: rgba(11, 57, 84, 1);*/
    background: rgba(34, 191, 191, 1);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -210px 340px;
}

.input-search {
    background: rgba(255, 255, 255, 1);
    border-radius: 51px;
    -moz-border-radius: 51px;
    -webkit-border-radius: 51px;
    height: 55px;
    font-size: 25px;
}

.Button_Load {
    border-radius: 51px;
    -moz-border-radius: 51px;
    -webkit-border-radius: 51px;
}

.image-div-best {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    font-size: 1.5em;
}

.image-div-Worst {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    font-size: 1.5em;
}

.canvas-table {
    max-height: 350px;
    max-width: 600px;
    margin: 0 auto;
}

td {
    vertical-align: middle !important;
}

#PageSizeController select {
    width: 70px;
    display: inline;
    margin: 0px 5px;
}